<!-- Left Bar -->
<div id="sidebar" class="main-menu menu-fixed menu-light menu-accordion menu-shadow " data-scroll-to-active="true" data-img="/img/sidebar.jpg">
    <div class="navbar-header" id="navbar_head_logo">
      <ul class="nav navbar-nav flex-row">       
        <li class="nav-item mr-auto"><a class="navbar-brand" href="/"><img class="brand-logo" alt="Chameleon admin logo" src="/img/logo.svg"/>
            <!-- <h3 class="brand-text"> &nbsp;SACHTLEBEN <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TECHNOLOGY</h3></a></li> -->
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="main-menu-content">
      <ul class="navigation navigation-main san hover-yellow" id="main-menu-navigation" data-menu="menu-navigation">
        <!-- <span class="menu-title" style="padding-left: 3em;">Help topics</span>
        <hr> -->
        <li class="nav-item /connectDB"><a href="/connectDB"><i class="la la-question"></i><span class="menu-title" data-i18n="">Connect DB</span></a>
        </li>
        <li class="nav-item /dashAndData"><a href="/dashAndData"><i class="la la-question"></i><span class="menu-title" data-i18n="">Dashboard and Data</span></a>
        </li>
        <li class="nav-item /exportImport"><a href="/exportImport"><i class="la la-question"></i><span class="menu-title" data-i18n="">Export / Import</span></a>
        </li>
        <li class="nav-item /REST"><a href="/REST"><i class="la la-question"></i><span class="menu-title" data-i18n="">REST API</span></a>
        </li>
        <li class="nav-item /member"><a href="/member"><i class="la la-question"></i><span class="menu-title" data-i18n="">Members</span></a>
        </li>
        <li class="nav-item /help_control"><a href="/help_control"><i class="la la-question"></i><span class="menu-title" data-i18n="">Control Center</span></a>
        </li>
        <li class="nav-item /studio"><a href="/studio"><i class="la la-question"></i><span class="menu-title" data-i18n="">Studio</span></a>
        </li>
      </ul>
    </div>
    <div class="navigation-background"></div>
  </div>

  <!-- 
    Connect DB

Dashboard and Data

Export / Import

REST API

Members

Control Center

OES Studio Desktop App (landing page of desktop app help)

Sensors

Area of Interest

Model Browser

Volume History Table
  -->