<div>

    <div class="row container_main">
        <!-- Center 3D Viewer -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="main_canvas">
            <canvas id='viewer_3d' class="3dviewer"></canvas>
            <canvas id="tool_2d" class='dviewer' style="background:transparent;"></canvas>
        </div>
    </div>
    <!-- <div class="row container_main">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="main_canvas2">
            <canvas id='viewer_3d2' class="3dviewer"></canvas>
            <canvas id="tool_2d2" class='dviewer' style="background:transparent;"></canvas>
        </div>
    </div> -->
</div>