<div>
    
    <div class="row container_main">
        <!-- Center 3D Viewer -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" id="main_canvas">
            <!-- <img src='/img/Eule_Grau.png' alt='OWL LOGO' id="img_owllogo">             -->
            <canvas id='viewer_3d' ></canvas>
            <canvas id="tool_2d" class='dviewer' style="background:transparent;"></canvas>
        </div>
    </div>
</div>