<div>
    <div class="row">
        <div class="col-md-4">
            <img src="/img/ST.png" alt="Owl Studio Logo" height="70px">
        </div>
    </div>
    <div class="row toolbar">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="mymodel" type="file" style="display: none;" accept=".obj, .txt" id="input_model">
        <button type='button' class="btn btn-icon btn-success mr-1" title='Open model from local pc' onclick="open_model()">
            <i class="la la-hdd-o"></i>
        </button>
        <button type='button' class="btn btn-icon btn-info mr-1" title='Open model from mongodb database'>
            <i class="la la-cloud-download"></i>
        </button>
    </div>
    <div class="row container_main">
        <!-- Left Bar -->
        <div class="col-sm-0 col-md-2 col-lg-2 col-xl-1 col-xxl-1">
            <div class="row" style="margin-top: 20px; margin-left: 7px;"><h6>ModelName</h6></div>
            <hr/>
        </div>
        <!-- Center 3D Viewer -->
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-10 col-xxl-10" id="main_canvas">
            <!-- <img src='/img/Eule_Grau.png' alt='OWL LOGO' id="img_owllogo">             -->
            <canvas id='viewer_3d'></canvas>
            <p>
                <span id="box" class="diagram left"></span>
                I love boxes. Presents come in boxes.
                When I find a new box I'm always excited to find out what's inside.
              </p>
              <p>
                <span id="pyramid" class="diagram right"></span>
                When I was a kid I dreamed of going on an expedition inside a pyramid
                and finding a undiscovered tomb full of mummies and treasure.
              </p>
        </div>
        <!-- Right Bar -->
        <div class="col-sm-0 col-md-2 col-lg-2 col-xl-1 col-xxl-1">

        </div>
            <!-- <img src='/img/Eule_Grau.png' alt='OWL LOGO' id="img_owllogo">             -->
    </div>
</div>