<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Icons</h3>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Icons
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body"><!-- Line Awesome section start -->
<section id="line-awesome-icons">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Line Awesome</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="feather-icons overflow-hidden row">
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-adjust"></i></div>
                          <label class="fonticon-classname">la-adjust</label>
                          <label class="fonticon-unit">f101</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-anchor"></i></div>
                          <label class="fonticon-classname">la-anchor</label>
                          <label class="fonticon-unit">f109</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-archive"></i></div>
                          <label class="fonticon-classname">la-archive</label>
                          <label class="fonticon-unit">f115</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-area-chart"></i></div>
                          <label class="fonticon-classname">la-area-chart</label>
                          <label class="fonticon-unit">f116</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-arrows"></i></div>
                          <label class="fonticon-classname">la-arrows</label>
                          <label class="fonticon-unit">f123</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-arrows-h"></i></div>
                          <label class="fonticon-classname">la-arrows-h</label>
                          <label class="fonticon-unit">f125</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-arrows-v"></i></div>
                          <label class="fonticon-classname">la-arrows-v</label>
                          <label class="fonticon-unit">f126</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-asterisk"></i></div>
                          <label class="fonticon-classname">la-asterisk</label>
                          <label class="fonticon-unit">f127</label>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 fonticon-container">
                          <div class="fonticon-wrap icon-shadow icon-shadow-primary"><i class="la la-at"></i></div>
                          <label class="fonticon-classname">la-at</label>
                          <label class="fonticon-unit">f128</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- // Line Awesome section end -->
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
