<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
	<head>
		<%- include('../../partials/head'); %>
		<!-- END Three.js Load -->
	</head>
	<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
		<!-- fixed-top-->
		<%- include('../../partials/header'); %>
		<!-- ////////////////////////////////////////////////////////////////////////////-->
		<%- include('../../partials/sidebar_help'); %>
		
		<!-- dashboard -->
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-wrapper-before" style="background-color:dimgrey;"></div>
				<div class="content-header row">
					<div class="content-header-left col-md-4 col-12 mb-2">
						<h3 class="content-header-title">Help</h3>
					</div>
					<div class="content-header-right col-md-8 col-12">
						<div class="breadcrumbs-top float-md-right">
							<div class="breadcrumb-wrapper mr-1">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a>
									</li>
									<li class="breadcrumb-item active">Help
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-body">
					<section id="basic-buttons">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card" id="canvas-container">
									<div class="card-content collapse show">
										<div class="card-body">
											<span class="badge badge-warning">You can go back to the normal view by clicking the <b>Sachtleben Technology</b> logo.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>


			</div>
		</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- page content end -->
<%- include('../../partials/footer'); %>
<script>
	
</script>
</body>
</html>