@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.san{
	font-family: Open Sans, sans-serif;
}
/*Sidebar Logo height fix*/
#navbar_head_logo{
    height: 7rem;
}

/* 
#img_owllogo{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
} */

/*3d viewer min height*/
div.container_main{
    min-height: 800px;
}
.btn{
    margin: auto 20px;
}
/*Canvas necessary setting*/
#viewer_3d{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    display: block;
    z-index: -1;
    border-radius: 5px;
    /* padding: 15px; */
}

div.table-padding-set{
    padding: 25px;
}

html {
    scroll-behavior: smooth;
}

#DataTables_Table_0_wrapper{
    width: 100%;
}

div#DataTables_Table_0_length{
    width: 200px;
}

#DataTables_Table_0_length label,#DataTables_Table_0_filter label{
    display: flex;
    flex-direction: revert;
    align-items: center;
}
#DataTables_Table_0_length select{
    margin: 0px 20px;
}

#DataTables_Table_0_filter{
    float: right;
}

#DataTables_Table_0_filter input{
    width: 150px;
    margin-left: 10px;
}

#models{
    width: 100%;
}

.title{
    margin-top: 20px;
    margin-bottom: 10px;
}

#formFile::before {
    content: "Pick file";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Select File";
}

#uploadform{
    width: 100%;
}

#sidebar.hide{
     display: none;
}

.navbar-container.content.expand{
    margin-left: 0px !important;
}

.app-content.content.expand{
    margin-left: 0px !important;
}
footer.footer.expand{
    margin-left: 0px !important;
    width: 100%;
}

.dashborad_three #viewer_3d.expand{
    max-height: none;
    height: auto;
}

.dashborad_three #viewer_3d{
    max-height: 350px;
    height: auto;
}
div.container_main.small{
    min-height: auto;
}
#delaytimeset{
    float: left;
}
@media (max-width: 768px){
    .navbar-collapse {
        padding-top:5px !important;
    }
    #DataTables_Table_0_length{
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    #DataTables_Table_0_filter{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #delaytimeset{
        float: right;
    }
}
.odd .dtfc-fixed-left{
    background-color: rgb(250, 251, 252);
}
.even .dtfc-fixed-left{
    background-color: white;
}


/*Canvas necessary setting*/
#viewer_3d{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    /* position:absolute; */
    /*padding: 15px;*/
}

#editer .btn{
    margin: 0;
}

#editer .model{
    display:flex;
    margin:5px;
    overflow: hidden;
}

#editer .model span{
    text-align: left;
    overflow: hidden;
    display:inline-block;
    flex-grow: 1;
    margin-right: 10px;
}

#editer .model:hover a{
    color:white;
}

#editer .model a{
    transition: 0.2s;
}

#editer .model a:hover{
    transform: scale(1.5);
}

#editer .model i{
    line-height: 1.25;
}

#editer .model>i{
    transition: 0.2s;
    margin-right: 10px;
}

#editer .model>i:hover{
    transform: scale(1.5);
}

#editer .model:hover span{
    color:white;
}

#editer td{
    vertical-align: middle;
}

#previewCanvas{
    left:0;
    top:0;
    position: fixed;
    width:100%;
    height:100%;
    display: block;
}

.rect{
    /* float:left; */
    height:100px;
    width:160px;
    display:block;
    border:1px solid black;
}

#viewer_3d2{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    /*padding: 15px;*/
}

.dviewer{
    left: 0;
    top: 0;
    width: calc(100% - 30px);
    margin-left: 15px;
    height: 100%;
    display: block;
    position: absolute;  
}

div.table-padding-set{
    padding: 25px;
}

.badge-primary{
    font-size: 13px;
    padding-top: 8px;
    padding-left: 15px;
    color: #6967ce;
    border-color: #6967ce;
    background-color: transparent;
    border: 1px solid;
    padding-right: 15px;
}

.badge-success{
    font-size: 13px;
    padding-top: 8px;
    padding-left: 15px;
    color: #5ed84f;
    border-color: #5ed84f;
    background-color: transparent;
    border: 1px solid;
    padding-right: 15px;
}

.distance{
    color:white;
    text-shadow: 1px 0px black,-1px 0px black,0px 1px black,0px -1px black;
}

fieldset.close_field {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.close_field {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.brand-logo{
    width: 100% !important;
}

.nav-item.mr-auto{
    width: calc(100% - 25px);
}
.content-wrapper-before{
    background-color: #FFBE15;
}

.navbar-container.content{
    background-color: white;
}

.navbar-container.content li a{
    color: black !important;
}

.btn-custom-line{
    border: solid;
    border-color: #4063AD;
    color: #4063AD;
}

.btn-custom-fill{
    background-color: #4063AD;
    color: white;
}

.back-yellow{
    background-color:#FFBE15;
    color:black;
}

.hover-yellow li a:hover{
    color:#FFBE15 !important;
}

.content-header-title{
    font-family: Open Sans, sans-serif;
}

.breadcrumb{
    font-family: Open Sans, sans-serif;
}

.content-body{
    font-family: Open Sans, sans-serif;
}

.card-title{
    font-family: Open Sans, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Open Sans, sans-serif;
}

.date_button{
    padding: 2px 7px; 
    margin-bottom: 5px; 
    /* margin: auto; */
    border-width: thin;
    border-style: none;
    color: rgb(99, 101, 103);
    background-color: #f1f2f5;
    font-weight: bold;
    min-width: 80px;
}
.date_button:hover{
    background-color: #dadadc;
}
.date_button:focus{
    outline: none;
    background-color: #dadadc;
}
.date_button_group{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 45px;
    padding-right: 5px;
}
.view_panel{
    position: absolute;
    background: white;
    z-index: 100;
    width: 100%;
    left: 0;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #f4f5fa;
    /* padding: 1rem; */
}
.view_close{
    position: absolute;
    right: 10px;
    top: 10px;
}
/* .navbar-container{
    background-image: none !important;
    background-color: white !important;
} */