#navbar_head_logo{
    height: 7rem;
}

#img_owllogo{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
}

div.container_main{
    height: 600px;
}

#viewer_3d{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    padding: 25px;
}