/*Sidebar Logo height fix*/
#navbar_head_logo{
    height: 7rem;
}

/* 
#img_owllogo{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
} */

/*3d viewer min height*/
div.container_main{
    min-height: 800px;
}
.btn{
    margin: auto 20px;
}
/*Canvas necessary setting*/
#viewer_3d{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    display: block;
    z-index: -1;
    padding: 15px;
}

div.table-padding-set{
    padding: 25px;
}

html {
    scroll-behavior: smooth;
}

#DataTables_Table_0_wrapper{
    width: 100%;
}

div#DataTables_Table_0_length{
    width: 200px;
}

#DataTables_Table_0_length label,#DataTables_Table_0_filter label{
    display: flex;
    flex-direction: revert;
    align-items: center;
}
#DataTables_Table_0_length select{
    margin: 0px 20px;
}

#DataTables_Table_0_filter{
    float: right;
}

#DataTables_Table_0_filter input{
    width: 150px;
    margin-left: 10px;
}

#models{
    width: 100%;
}

.title{
    margin-top: 20px;
    margin-bottom: 10px;
}

#formFile::before {
    content: "Pick file";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Select File";
}

#uploadform{
    width: 100%;
}

#sidebar.hide{
     display: none;
}

.navbar-container.content.expand{
    margin-left: 0px !important;
}

.app-content.content.expand{
    margin-left: 0px !important;
}
footer.footer.expand{
    margin-left: 0px !important;
}

.dashborad_three #viewer_3d.expand{
    max-height: none;
    height: auto;
}

.dashborad_three #viewer_3d{
    max-height: 350px;
    height: auto;
}
div.container_main.small{
    min-height: auto;
}