<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
	<head>
		<%- include('../partials/head'); %>
		<link rel="stylesheet" href="/prettydropdowns/prettydropdowns.css">		<!-- BEGIN Three.js Load -->
		<!-- END Three.js Load -->
	</head>
	<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
		<!-- fixed-top-->
		<%- include('../partials/header'); %>
		<!-- ////////////////////////////////////////////////////////////////////////////-->
		<%- include('../partials/sidebar'); %>
		
		<!-- dashboard -->
		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-wrapper-before"></div>
				<div class="content-header row">
					<div class="content-header-left col-md-4 col-12 mb-2">
						<h3 class="content-header-title">Owl Eye Viewer</h3>
					</div>
					<div class="content-header-right col-md-8 col-12">
						<div class="breadcrumbs-top float-md-right">
							<div class="breadcrumb-wrapper mr-1">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a>
									</li>
									<li class="breadcrumb-item active">Export
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				
      <div class="content-body">
		  <!-- 3d viewer card body start -->
		  <section id="basic-buttons">
			  <div class="row">
				  <div class="col-lg-12 col-md-12">
					  <div class="card" id="canvas-container">
						  <div class="card-header">
							  <!-- <h4 class="card-title">OWL 3D WEB APP</h4> -->
							  <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>
							  <div class="heading-elements">
                            <ul class="list-inline mb-0">
								<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
					</div>
                    <div class="card-content collapse show">
						<div class="card-body">
							<!-- <p class="card-subtitle">You can load *.txt, *.obj files from owl windows app.</p> -->
                            <div class="row">
								<div class="col-md-12 col-lg-12 col-sm-12">
									<label for="size">Select models:</label><br>
									<select id="models" name="models" multiple>
										<option>General</option>
										<option>Box-Neu-Links</option>
										<option>Siebanlage-Grobgut</option>
										<option>box_1</option>
										<option>box_2</option>
										<option>fred</option>
										<option>weisspat</option>
										<option>BoxMitte</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="title">
										<h3>Export Type</h3>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
													Export separately
													<span class="circle">
														<span class="check"></span>
													</span>
												</label>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked="">
													Export to one File
												<span class="circle">
													<span class="check"></span>
												</span>
												</label>
											</div>
										</div>
										<div class="col-md-4">
											<button type="button" class="btn btn-info btn-min-width mr-1 mb-1"><i class="ft-download"></i> Export</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- 3d viewer card body end -->
	</div>
	
	
</div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- page content end -->
<%- include('../partials/footer'); %>
<script src="/prettydropdowns/jquery.prettydropdowns.js"></script>

<script>
	$(document).ready(function() {
	  $('#models').prettyDropdown({width:'100%'});
	});
	</script>
</body>
</html>